$greenColor: #03C9A9;
$green-1:#64e7d1;
$white-1: #fff;
$cream-1: #fafafa;
$white-2: rgba(238,242,244,.5);
$black-2: #222529;
$ash-1: #777;
$light-ash: #ddd;
$red-faint: #ff6666;
$red-1: #f58e8e;
$greenColor-1: #CCFFBB;
$warning: #ffa010;
$warning-1: #eccc9c;
$grey-shade: rgb(153, 178, 191);
$black-1: #080301;
$blue-1: #355389;
$yellow-1: #f6c33e;

